version: 2.1
orbs:
  aws-s3: circleci/aws-s3@3.1
  node: circleci/node@5.0.2
jobs:
  build:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          command: npm run test
          name: Run tests
      - run:
          command: npm run build
          name: Build app
      - persist_to_workspace:
          root: ../react-supabase-workout-tracker
          paths:
            - .
      - aws-s3/sync:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-region: AWS_REGION
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          from: bucket
          to: s3://${AWS_S3_BUCKET}
      - aws-s3/copy:
          arguments: '--dryrun'
          from: ./build
          to: s3://${AWS_S3_BUCKET}
workflows:
  s3-deploy:
    jobs:
      - build